<%- include ('partials/header.ejs') %>
<main>
    <div class="space__3rem_height"></div>
    <div><h1>YOGA favorites positions</h1></div>
    <div class="index__articles">

    <% for (position of locals.allPositions) {   %> 
        <%    if (favoritesIDs.includes(position.id.toString())) { %>
            <article class="index__articles__article" >
            <div><%= position.sanskrit_name %>  </div>
            <div><%= position.english_name %>  </div>
            <img src="<%= position.img_url %>" alt="image <%= position.sanskrit_name %>">
                
        </article> 
        <% } %>
        <% } %>
    </div>
</main>
<%- include ('partials/footer.ejs') %>