
<%- include ('partials/header.ejs') %>
<main>

    
    <% for (position of locals.allPositions) {   %> 
        <article>
            <div><%= position.sanskrit_name %>  </div>
            <div><%= position.english_name %>  </div>
            <img src="<%= position.img_url %>" alt="image <%= position.sanskrit_name %>">
            
            
        </article>
        
        
        <% } %>   
        
        
    </main>
        <%- include ('partials/footer.ejs') %>